
@font-face {
    src: url('YellowMagician-webfont.woff') format('woff');
    font-family: yellowmagic;
}

body {    
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    background-color: rgb(235, 226, 241);
    font-weight: normal;
    font-style: normal;
}
#coffee {
    color: rgb(49, 3, 49);
}
.intro {
    text-align: center;
}
.intro + p {
    font-weight: bold;
}
   img {   
    background-image: url("https://C.com/upload/2018/02/Coffee-with-chocolate-chip-cookie-and-coffee-beans-Stock-Photo.jpg");
    background-position: top left;
    background-repeat: no-repeat;
    margin-left: 10px;
   }
   .more-info {
       background-color: rebeccapurple;
       border: none;
       color: white;
       text-align: center;
       text-decoration: none;
       display: inline-block;
       font-size: 20px;
       margin: 4px 2px;
       cursor: pointer;
   }
h1 { 
    font-family: yellowmagic;
    font-weight: bold;
    text-align: center;
    font-weight: normal;
    font-style: normal;
    color: brown;
}    
h3 {
    text-align: center;
}

ul{
    list-style: none;
    list-style-position: outside;
}

.chip-pic {
    width: 50px;
    height: 50px;
    border: 1px solid brown;
    margin-left: 2px;
    padding: 2px;
    
    
}
#chip{
    width: 400px;
    height: 200px;
    background-color: white;
    border: 4px solid brown;
    margin: 2px 2px 2px 2px;

}
.double-pic{
    width: 50px;
    height: 50px;
    border: 1px solid brown;
    margin-left: 2px;
    padding: 2px;
}
#double{
    width: 400px;
    height: 200px;
    background-color: white;
    border: 4px solid brown;
    margin: 2px 2px 2px 2px;
}
.snick-pic{
    width: 50px;
    height: 50px;
    border: 1px solid brown;
    margin-left: 2px;
    padding: 2px;
}
#snick{
    width: 400px;
    height: 200px;
    background-color: white;
    border: 4px solid brown;
    margin: 2px 2px 2px 2px;
}
.list-button {
    background-color: rebeccapurple;
    border-radius: 4px;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
 